*  {
  box-sizing: border-box;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
header {
  padding-left: 35%;
}
.Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  width: 90%;
  height: 80vh;
  border: 1px solid;
  background-color: #fff;
  color: #444;
}
.Elem {
  background-color: #444;
  color: #fff;
}

.H {
  grid-column: 1 / 2;
  grid-row : 1 / 2;
  background-color: green;
}
.Li {
  grid-column: 1 / 2;
  grid-row : 2 / 3;
  background-color: orange;
}
.Na {
  grid-column: 1 / 2;
  grid-row : 3 / 4;
  background-color: orange;
}
.K {
  grid-column: 1 / 2;
  grid-row : 4 / 5;
  background-color: orange;
}
.Rb {
  grid-column: 1 / 2;
  grid-row : 5 / 6;
  background-color: orange;
}
.Cs {
  grid-column: 1 / 2;
  grid-row : 6 / 7;
  background-color: orange;
}

.Fr {
  grid-column: 1 / 2;
  grid-row : 7 / 8;
  background-color: orange;
}

.Elem_57_71 {
  grid-column: 4 / 19;
  grid-row : 10 / 11;
  background-color: rgb(218, 143, 73);
}

.Elem_89_103 {
  grid-column: 4 / 19;
  grid-row : 11 / 12;
  background-color: rgb(218, 143, 73);
}





